body
{
    color:aquamarine;
    background: gray;
}
.heading
{
    width:80%;
    font-size: 35px;
}
#camera
{
    border:2px dotted black;
    width: 300px;
    height: 250px;
}
.name_of_the_object, #result_object_name , #result_object_accuracy
{
    color:greenyellow;
    font-size: 25px;
}